-#  This file is app/views/movies/index.html.haml

%h1 All Movies
-#http://pastebin.com/vpPqkWMb
-#pre-checking checkboxes: http://stackoverflow.com/questions/14592857/check-box-tag-pre-checked-conditional-on-values-in-array
-# check_box is checked (true) if current filter contains the rating
-# check_box_tag name, key, checked
= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @filterby.include?(rating) ? true : false
  = submit_tag 'Refresh'

-# http://haml.info/tutorial.html for how to add class attributes
%table#movies
  %thead
    %tr
      %th{:class => @titlestyle}= link_to "Movie Title", movies_path(:order => "movies.title", :ratings => params[:ratings]), :id => "title_header"
      %th Rating
      %th{:class => @datestyle}= link_to "Release Date", movies_path(:order => "movies.release_date", :ratings => params[:ratings]), :id => "date_header"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
